<!-- <div class="container mb-1 mt-1">
  <header style="background-color: #5A8F11;">
    <nav class="navbar navbar-expand-md">


      <a class="navbar-brand" href="#" style="font-size: 1.5rem;margin-right: -380px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFDYCmrdiGuoNrqbMWKBIOOdyv9Jnuc2avvA&usqp=CAU"
          width="70" height="50" style="background-color: white;">
      </a>

      <h3><a routerLink="/landing" class="logo nav-brand"
          style="color: #5A8F11; background-color: white; font-size:30px; text-decoration: none; color: #5A8F11;margin-left:55px;">Alumni</a>
      </h3>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="menu collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">

          <li class="nav-item nav-link active"><a routerLink="/home" style="text-decoration: none; color: white;">Home </a></li>
          <li class="nav-item  nav-link"><a routerLink="/parent" style="text-decoration:none; color: white;">Blogs</a></li>

          <li class="nav-item  nav-link"><a routerLink="/about" style="text-decoration: none; color: white;">About</a></li>


        </ul>
      </div>
      <div class="login">
        <ul>
          <li><a routerLink="/login" style="text-decoration: none; color: #5A8F11;">Login</a></li>
        </ul>
      </div>
    </nav>
  </header>
</div> -->


<!-- <nav class="navbar navbar-expand-md" style="background-color: #5A8F11;">
  <a class="navbar-brand" style="color: white;"><b>ALUMNI</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon white"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink='/home' routerLinkActive='active' style="text-decoration: none; color: white;">Home<span
          class="sr-only"></span></a>
      <a class="nav-item  nav-link" routerLink='/blogs' routerLinkActive='active' style="text-decoration: none; color: white;">Blogs</a>
      <a class="nav-item  nav-link" routerLink='/about' routerLinkActive='active' style="text-decoration: none; color: white;">About</a>

    </div>
  </div>
  <div class="login">
    <ul>
      <li><a routerLink="/login" style="text-decoration: none; color: #f6f7f4;">Login</a></li>
    </ul>
  </div>
</nav> -->


<!-- TOOL BAR -->
<!-- <div class="toolbar py-5" role="banner">
  <img class="rounded-circle" width="70rem"  height="70rem" alt="Angular Logo"
    src="../../../assets/moringa_logo.png"/>
  <span>Moringa Alumni</span>

  <div class="spacer"></div>
  <a class="nav-item btn btn-outline-success" style="color: white;" href="/home">Home</a>&nbsp;&nbsp;
  <a class="nav-item btn btn-outline-success" style="color: white;" href="/blogs">Blogs</a>&nbsp;&nbsp;
  <a class="nav-item btn btn-outline-success" style="color: white;" href="/about">About</a>
  
  <a class="btn btn-outline-success" aria-label="Login" rel="noopener" href="/login" title="Login">
    <b style="color: white; border-color: white;">Login</b>
  </a>
</div>

<div class="content" role="main">

   -->

<div class="nav-wrapper" style="background-color:#919D47">
  <img class="rounded-circle " width="70rem"  height="70rem" alt="Moringa Logo"
    src="../../../assets/moringa_logo.png"/><h3 class=" btn-primary" style="color: white;"></h3>

  <ul id="navigation">
    <h2 id="close-btn" style="text-align: center">
      <img src="./../../assets/menu.png"/></h2>
    <li><a style="color: white;" href="/home" class="btn btn-outline-success" >Home</a></li>
    <li><a class="btn btn-outline-success"style="color: white;" href="/channels">Channels</a></li>
    <li><a class="btn btn-outline-success " style="color: white;" href="/blogs">Blogs</a></li>
    <li><a class="btn btn-outline-success" style="color: white;" href="/about">About</a></li>
  </ul>
  <a class="btn btn-outline-success" aria-label="Login" rel="noopener" href="/login" title="Login">
    <b style="color: white; border-color: white;">Login</b>
  </a>
  <img id="menu-icon" src="./../../assets/menu.png">

</div>


<script type="text/javascript">
  let menu = 'closed'

  let menuIcon = document.getElementById('menu-icon')
  let navigation = document.getElementById('navigation')
  let closeBtn = document.getElementById('close-btn')

  menuIcon.addEventListener('click', toggleMenu)
  closeBtn.addEventListener('click', toggleMenu)


  function toggleMenu() {
    if (menu == 'closed') {
      navigation.style.display = 'block'
      closeBtn.style.display = 'block'
      menu = 'open'
    } else {
      navigation.style.display = 'none'
      closeBtn.style.display = 'none'
      menu = 'closed'
    }
  }


  // Attaching the event listener function to window's resize event

  window.addEventListener("resize", function () {
    let width = document.documentElement.clientWidth;
    if (width > 1080) {
      navigation.style.display = 'block'
    } else {
      navigation.style.display = 'none'
    }
    menu = 'closed'
    closeBtn.style.display = 'none'
  });
</script>