
<h1 style="text-align: center;">Popular Blogs</h1>
<h3 style="text-align: center;">These are samples of the blogs</h3>
<hr><hr>
<div class="card-columns">
  <div class="card" style="width: 25rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTvggQCUN0eI6nSchGn3a8baIUHROeP6lRWA&usqp=CAU"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><b>About Moringa</b></h5>
      <p class="card-text">Some quick context of moringa blogs should be displayed here.</p>
      <a href="/" class="btn btn-success">Read<b>...</b> </a>
    </div>
  </div>

  <div class="card" style="width: 25rem;">
    <img src="../../../../assets/moringa5.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><b>About Moringa</b></h5>
      <p class="card-text">Some quick context of moringa blogs should be displayed here.</p>
      <a href="/" class="btn btn-success">Read<b>...</b> </a>
    </div>
  </div>

  <div class="card" style="width: 25rem;">
    <img src="../../../../assets/moringa5.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><b>About Moringa</b></h5>
      <p class="card-text">Some quick context of moringa blogs should be displayed here.</p>
      <a href="/" class="btn btn-success">Read<b>...</b> </a>
    </div>
  </div>
</div>
<div class="card-columns">
    <div class="card" style="width: 25rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTvggQCUN0eI6nSchGn3a8baIUHROeP6lRWA&usqp=CAU"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>About Moringa</b></h5>
        <p class="card-text">Some quick context of moringa blogs should be displayed here.</p>
        <a href="/" class="btn btn-success">Read<b>...</b> </a>
      </div>
    </div>
  
    <div class="card" style="width: 25rem;">
      <img src="../../../../assets/moringa5.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>About Moringa</b></h5>
        <p class="card-text">Some quick context of moringa blogs should be displayed here.</p>
        <a href="/" class="btn btn-success">Read<b>...</b> </a>
      </div>
    </div>
  
    <div class="card" style="width: 25rem;">
      <img src="../../../../assets/moringa5.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>About Moringa</b></h5>
        <p class="card-text">Some quick context of moringa blogs should be displayed here.</p>
        <a href="/" class="btn btn-success">Read<b>...</b> </a>
      </div>
    </div>
  </div>