<div class="row">

  <div class="col-md-6">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-md-6">
    <div class="funds">
      <h1 class="text-center"><strong style="color:#919D47;">FUNDRAISERS</strong></h1><hr>
    <hr>
    <div class="card-container">
      <div *ngFor="let fundraiser of fundraisers">
        <a class="card card-large" style="width:25rem;" rel="noopener" href="/fund">
          <img
            src="https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/25/000000/external-funding-crowdfunding-icongeek26-outline-colour-icongeek26.png" />&nbsp;&nbsp;
          <p><strong>{{ fundraiser.fund_name }}</strong></p>&nbsp;&nbsp;
          <p>Start Date: {{fundraiser.start_date | date}}</p>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
        </a>
      </div>
    </div> 
    </div>
  </div>
</div>
