<div class="row">

  <div class="col-md-3">
    <app-sidebar>

    </app-sidebar>
  </div>

  <div class="col-md-9">
    <h1>FUNDRAISERS</h1>
    <div class="static">
      <b>Moringa Alumni Fundraisers</b>
      <div class="test">
      <div class="test2"></div>
      </div> <br>
      <a href="https://ravesandbox.flutterwave.com/pay/moringaalumni">
        <button class="btn btn-warning">PAY NOW</button>
      </a>
    </div>
  </div>
</div>

<!-- <div style="margin-left: 300px;" class="logo">Community for a better future</div> -->

