<div class="row">

  <div class="col-md-3">
    <app-sidebar>

    </app-sidebar>
  </div>

  <div class="col-md-6">
    <h1 class="text-center"><strong style="color:#919D47;">FUNDRAISERS</strong></h1>
    <hr>
    <div class="card-container">

      <div *ngFor="let fundraiser of fundraisers">
        <a class="card card-large" rel="noopener" href="/fund">
          <img
            src="https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/25/000000/external-funding-crowdfunding-icongeek26-outline-colour-icongeek26.png" />&nbsp;&nbsp;
          <span><strong>{{ fundraiser.fund_name }}</strong></span>&nbsp;&nbsp;
          <span>{{fundraiser.start_date}}</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
        </a>
      </div>
      <!-- <div *ngFor="let fundraiser of fundraisers">

      <div class="card" style="border-color: #5A8F11;">
        <h2 class="text-center">{{ fundraiser.fund_name }}</h2><br>
        <div style="border-color:#5A8F11; ">
          <img class="rounded-circle account-img d-block mx-auto" src="../../../assets/moringa_logo.png"
            height="125px" width="125px">
        </div>
        <h3 class="text-center mt-3">Created By: @{{fundraiser.created_by}}</h3><br>
        <h4>{{fundraiser.start_date}} <br>{{fundraiser.end_date}}</h4>
        
        
           <b>Edit Profile</b>
       ]
      </div>

    </div> -->
  </div> 
  </div>
  <div class="col-md-3">
    <app-contacts></app-contacts>
  </div>
</div>