<div class="container">
  <div class="section">
    <div class="content">
      <h1 style="color: #919D47;">People You May Know!</h1>
    </div>
    <div class="scrollable-content content">
      <ul>
        <div *ngFor="let user of users">
          <li>
            <a href="">
              <button class="card card-small" tabindex="0">
                <img class="rounded-circle" src="https://img.icons8.com/offices/30/000000/person-male.png" />
                <span>{{ user.username }}</span>
              </button>
            </a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>