  <div class="container" style="background-color: #a5becf;">
  <div class="section" style="background-color: #a5becf;">
    <div class="content" style="background-color: #d4d7e4;">
      <h1 ><strong style="color: #24204e;">CONTACTS</strong></h1>
    </div>
    <div class="scrollable-content content" style="background-color: #d4d7e4;">
      <ul>
        <div *ngFor="let user of users">
          <li>
            <a href="">
              <button class="card card-small" tabindex="0">
                <img class="rounded-circle" src="https://img.icons8.com/offices/30/000000/person-male.png" />
                <span style="text-decoration: none;">{{ user.username }}</span>
              </button>
            </a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>