<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <ul>
                       <b>    Courses <br>Events<br> Careers<br> FAQ <br> Contact Us <br> Privacy Policy</b> 
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                     <b>  Ngong Lane, Ngong Lane Plaza. 1st Floor. 
                            Nairobi, Kenya 
                            +254 712 293 878 (Admissions)
                             +254 741 493 565 (Data Science) 
                             +254 712 293 878 (WhatsApp)
                              P.O.Box 28860-00100, Nairobi 
                              contact@moringaschool.com</b> 
                            
                    </div>
                    <div class="col-lg-3 item social">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.790610041559!2d36.78241801475394!3d-1.300486199051471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1a6bf7445dc1%3A0x940b62a3c8efde4c!2sMoringa%20School!5e0!3m2!1sen!2ske!4v1642958386935!5m2!1sen!2ske" width="300" height="300" style="border:0;" allollowfullscreen="" loading="lazy"></iframe>
                      
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <br>
    <p class="copyright" style="text-align: center;">© Copyright 2022. Moringa School LTD
    </p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>