@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}

.section
{
    width: 100%;
}
.section.container
{
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;
}
.container .title
{
width: 100%;
text-align: center;
margin-bottom: 50px;
}
.container .title h1{
    text-transform: uppercase;
    font-size: 35px;
    color:#16114d;
}
.container .title h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto;
}
.content
{
    /* float: left; */
    width: 55%;

}
.image-section{
    float:left;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content .article h3{
    font-size: 25px;
}
.content .article p{
   margin-top: 20px; 
   font-size: 16px;
   line-height: 1.5;
   color: #333; 
}


.content .article .button a{
    text-decoration:none;
    padding: 8px 25px;
    background-color: #16114d;
    border-radius: 40px;
    color: #fff;             
    font-size: 18 px;
    letter-spacing: 1.5px;
}
.content .article .button a:hover{
    color: #fff;
    background-color: green;
    transition: 1s ease;
}
.digit{
    display: inline-block;

    font-size: 10px;
    text-align: center;
    font-style: italic;
    color: #16114d;
    display: inline;


}

.testbutton {
    font-family: verdana;
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #FFFFFF;
    box-shadow: 1px 1px 1px #FFFFFF;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px outset #A7B557;
    background: #A7B557;
    background: linear-gradient(to top, #A7B557, #A7B557);
  }
  .testbutton:hover {
    color: #A7B557 !important;
    background: #FFFFFF;
  }