<div class="row">
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-md-6">
    <h1 class="text-center"><strong>Groups</strong></h1>
    <hr>
    <a class="card card-small" rel="noopener" href="/create_cohort/{{user_id}}">
      <img src="https://img.icons8.com/office/25/000000/crowd.png" />&nbsp;&nbsp;&nbsp;
      <span>Create New Group</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
    </a>

    <div class="card-container">

      <div *ngFor="let cohort of cohorts">
        <a class="card" rel="noopener" href="group_posts/{{user_id}}">
          <img src="https://img.icons8.com/office/25/000000/crowd.png" />&nbsp;&nbsp;&nbsp;&nbsp;
          <span><strong>{{cohort.name}}</strong></span>&nbsp;&nbsp;
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
        </a>
      </div>

    </div>
  </div>
  <div class="col-md-3">
    <app-contacts></app-contacts>
  </div>
</div>