<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Untitled</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
</head>
<div class="ribbon">
    <div class="ribbon-stitches-top"></div>
    <div class="ribbon-content">
      <p><b> Welcome to Moringa Alumni</b></p>
    </div>
    <div class="ribbon-stitches-bottom"></div>
  </div>

<div class="login-dark">
  <form #f="ngForm">
    <h2 class="sr-only"><b>Login Options</b></h2><hr>
    <h1 class="text-center text-dark" style="color: #919D47 !important">
      <b>Login Options</b>
    </h1><hr>
    <a routerLink="/login" class="btn btn-block" style="color: azure; background-color:#919D47"><b>Login as a User</b></a>
    <br><br>
    <a href="http://127.0.0.1:8000/admin/" class="btn btn-block" style="color: azure; background-color:#919D47"><b>Login as an Admin</b></a>
  </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</html>
