<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Untitled</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
</head>

<div class="login-dark">
  <form #f="ngForm">
    <h2 class="sr-only">Login Options</h2>
    <h1 class="text-center text-dark" style="color: #5A8F11 !important">
      Login Options
    </h1>
    <a routerLink="/login" class="btn btn-block" style="background-color:#5A8F11">Login as a User</a>
    
    <a href="http://127.0.0.1:8000/admin/" class="btn btn-block" style="background-color:#5A8F11">Login as an Admin</a>
  </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</html>
