<div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
  
    <div class="col-md-6">
      <h1 class="text-center" style="font-weight: 700;"><strong>WELCOME</strong></h1>
      <hr>
      <div class="card-container">
        <div class="card-columns">
          <div class="card" style="margin-left: 40%; width: 30rem;height: 20rem;">
            <div class="funds">
              <div class="funds static">
                <div class="funds test">
                <div class="funds test2"></div>
                </div> <br>
                <a href="https://ravesandbox.flutterwave.com/pay/moringaalumni">
                  <button style="background-color: #16114d;"class="btn btn btn-sm">CONTRIBUTE</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-all-posts></app-all-posts>
    </div>
  </div>