<div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
  
    <div class="col-md-6">
      <h1 class="text-center">
        <a class="btn btn-outline " style="color: #919D47;">Members</a>&nbsp;&nbsp;
        <span>Fundraiser</span>&nbsp;&nbsp;
        <a class="btn btn-outline-success" href="/post_form">Make Contribution</a>&nbsp;&nbsp;
        
      </h1>
      <hr>
      <div class="card-container">
        <div class="card-columns">
          <div class="card" style="width: 40rem;">
            <div class="ribbon"><span><b>Fundraiser Title</b></span></div>
  
            <div class="card-body">
              <h5 class="card-title"><b>Created: ~Name</b></h5>
              <p class="card-text">Fundraiser description is just but what the fundraiser is about</p>
              
  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-all-posts></app-all-posts>
    </div>
  </div>