

      
     
     
      .registration-form form{
          max-width: 600px;
          margin: auto;
          padding: 50px 70px;
          border-top-left-radius: 30px;
          border-top-right-radius: 30px;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
      }
      
      .registration-form .form-icon{
        text-align: center;
          background-color: #5891ff;
          border-radius: 50%;
          font-size: 40px;
          color: white;
          width: 100px;
          height: 100px;
          margin: auto;
          margin-bottom: 50px;
          line-height: 100px;
      }
      
      .registration-form .item{
        border-radius: 20px;
          margin-bottom: 25px;
          padding: 10px 20px;
      }
      
      .registration-form .create-account{
          border-radius: 30px;
          padding: 10px 20px;
          font-size: 18px;
          font-weight: bold;
          background-color: #5791ff;
          border: none;
          color: white;
          margin-top: 20px;
      }
      
      .registration-form .social-media{
          max-width: 600px;
          background-color: #fff;
          margin: auto;
          padding: 35px 0;
          text-align: center;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
          color: #9fadca;
          border-top: 1px solid #dee9ff;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
      }
      
      .registration-form .social-icons{
          margin-top: 30px;
          margin-bottom: 16px;
      }
      
      .registration-form .social-icons a{
          font-size: 23px;
          margin: 0 3px;
          color: #5691ff;
          border: 1px solid;
          border-radius: 50%;
          width: 45px;
          display: inline-block;
          height: 45px;
          text-align: center;
          background-color: #fff;
          line-height: 45px;
      }
      
      .registration-form .social-icons a:hover{
          text-decoration: none;
          opacity: 0.6;
      }
      
      @media (max-width: 576px) {
          .registration-form form{
              padding: 50px 20px;
          }
      
          .registration-form .form-icon{
              width: 70px;
              height: 70px;
              font-size: 30px;
              line-height: 70px;
          }
      }


.login-dark {
    height:42rem;
    background-repeat: no-repeat;
    background-image: url("https://moringaschool.com/wp-content/uploads/2022/02/cropped-favicon-192x192.png");
    position:relative;
    box-shadow: 0 2px 10px #16114d;
  }
  
  .login-dark form {
  max-width:320px;
  width:90%;
  background-color:#fff;
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:10%;
  left:15%;
  color:#fff;
  opacity: 99;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
  animation: moveright 0.8s linear 1;
  animation-delay: 0s;
  visibility: hidden;
  animation-fill-mode: forwards;
}
@keyframes moveright {
  0% {
      transform: translateX(-100px);
      visibility: visible;
  }
  100% {
      transform: translateX(0);
      visibility: visible;
  }
}

  
  .login-dark .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#e1e3e6;
  }
  
  .login-dark form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
  }
  
  .login-dark form .btn-primary {
  background:#214a80;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
  }
  
  .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background:#214a80;
  outline:none;
  }
  
  .login-dark form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
  }
  
  .login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity:1;
  text-decoration:none;
  }
  
  .login-dark form .btn-primary:active {
  transform:translateY(1px);
  }    

  input{color: #6f7a85 !important}


  @media (max-width: 576px) {
    .registration-form form {
        padding: 50px 20px;
    }
    .login-dark form{
      margin-left: 15%;
    }
    .registration-form .form-icon {
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
        
    }
}
  