<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Untitled</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>

  <div class="footer-clean">
    <footer>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-4 col-md-3 item">
            <ul>

              <b> Courses <br>Events<br> Careers<br> FAQ <br> Contact Us <br> Privacy Policy</b>
            </ul>
          </div>
          <div class="col-sm-4 col-md-3 item">
            <b> Ngong Lane, Ngong Lane Plaza. 1st Floor.
              Nairobi, Kenya
              +254 712 293 878 (Admissions)
              +254 741 493 565 (Data Science)
              +254 712 293 878 (WhatsApp)
              P.O.Box 28860-00100, Nairobi
              contact@moringaschool.com</b>

          </div>
          <div class="col-lg-3 item social">
            <div class="mapouter">
              <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
                  src="https://maps.google.com/maps?q=Moringa,%20school,%20kenya&t=&z=13&ie=UTF8&iwloc=&output=embed"
                  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                  href="https://123movies-to.org">123 movies</a><br>
                <style>
                  .mapouter {
                    position: relative;
                    text-align: right;
                    height: 300px;
                    width: 400px;
                  }

                </style><a href="https://www.embedgooglemap.net"></a>
                <style>
                  .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 300px;
                    width: 400px;
                  }

                </style>
              </div>
            </div>

          </div>

        </div>
      </div>
    </footer>
  </div>
  <br>
  <p class="copyright" style="text-align: center;">© Copyright 2022. Moringa School LTD
  </p>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>
