  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse" style="background-color: #919D47;">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4" >
        <a href="/cohort" class="list-group-item list-group-item-action py-3 ripple" aria-current="true">
          <span class="items"><img src="https://img.icons8.com/office/35/000000/control-panel.png"/>&nbsp;&nbsp;<h3>DASHBOARD</h3> </span>
        </a>
        <a href="/cohort" class="list-group-item list-group-item-action py-3 ripple">
          <img src="https://img.icons8.com/color/30/000000/classmates-sittings-skin-type-4.png"/>&nbsp;&nbsp;<span class="items">My Cohort</span>
        </a>
        <a href="/channels" class="list-group-item list-group-item-action py-3 ripple"><img src="https://img.icons8.com/office/25/000000/crowd.png" />&nbsp;&nbsp;
          <span class="items">Groups</span></a>
        <a href="/chats" class="list-group-item list-group-item-action py-3 ripple">
          <img src="https://img.icons8.com/plasticine/40/000000/speech-bubble-with-dots.png"/>&nbsp;<span class="items">Chats</span>
        </a>
        <a href="/fundraiser" class="list-group-item list-group-item-action py-3 ripple"><img src="https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/25/000000/external-funding-crowdfunding-icongeek26-outline-colour-icongeek26.png"/>&nbsp;&nbsp;
          <span class="items">Fundraisers</span></a>
        <a href="/user_profile" class="list-group-item list-group-item-action py-3 ripple"><img src="https://img.icons8.com/office/25/000000/gender-neutral-user.png"/>&nbsp;&nbsp;
          <span class="items">Profile</span></a>
        <a href="/" class="list-group-item list-group-item-action py-3 ripple">
          <span class="items">Logout</span>&nbsp;&nbsp;&nbsp; <img src="https://img.icons8.com/office/16/000000/exit.png"/></a>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg btn btn-success bg-white fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="/">
        <img src="../../../assets/moringa_logo.png" height="50" alt="Moringa Logo"
          loading="lazy" />
      </a>
      <!-- Search form -->
      <form class="d-none d-md-flex input-group w-auto my-auto">
        <input autocomplete="off" type="search" class="form-control rounded" placeholder='Search user/channel'
          style="min-width: 225px;" />
        <span class="input-group-text border-0"><img src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/28/000000/external-search-seo-dreamstale-lineal-dreamstale-7.png"/></span>
      </form>

      <!-- Right links -->
    </div>