
<div class="section">
    <div class="container">
        <div class="title">
            <h1> about-us</h1></div>
        <div class="content">
            <div class="article">
                <h3> <b>moringa School is a multi-disciplinary learning-accelerator committed to closing the skills gap in Africa’s job market by providing transformative tech-based learning.
</b> 
                </h3>
                <br>
                <div class="button">
                    <a href="https://moringaschool.com/about-us">read more</a>
                </div>
                <br>
               
                <br>
  <div class="digit">
      <div class="alumni"> <h3> +2500 <br> Enrolled students </h3>
    </div>
      <br>
      <div class="alumni"> <h3>2500+ <br>Alumni</h3>
    </div>
     <br>
      <div class="alumni"><h3>85% <br>Employment rate</h3> 
    </div>
  </div>

            </div>
        </div>
        <div class="image-section">
        <img src="https://moringaschool.com/sites/default/files/inline-images/licensing.jpg">
    </div>
    <div class="no">
     
    </div>
  
</div>
</div> 



