
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="section">
    <div class="container">
        <div class="title">
            <h1> about-us</h1></div>
        <div class="content">
            <div class="article">
                <h3> <b>moringa School is a multi-disciplinary learning-accelerator committed to closing the skills gap in Africa’s job market by providing transformative tech-based learning.
</b> 
                </h3>
                <br>
                <div class="button">
                    <a href="https://moringaschool.com/about-us">read more</a>
                </div>
            </div>
        </div>
        <div class="image-section">
        <img src="https://moringaschool.com/sites/default/files/inline-images/licensing.jpg">
    </div>
    <div class="no">
     
    </div>
    <!-- <div class="social">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>



    </div> -->
</div>
</div>   
</body>
</html>
