<div class="row">

    <div class="col-md-3">
      <app-sidebar>
  
      </app-sidebar>
    </div>
  
    <div class="col-md-6">
        <h2>Chats</h2>
    <p>Send Message</p>

    <input type="hidden" #selection>

    <div class="card-container">
      <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>New Message</span>
      </button>

      <button class="card card-small" (click)="selection.value = 'material'" tabindex="0">
        <img class="rounded-circle" src="https://img.icons8.com/offices/30/000000/person-male.png" />
        <span>Valentino</span>
      </button>

      <button class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
        <img class="rounded-circle" src="https://img.icons8.com/offices/30/000000/person-male.png" />
        <span>Mwikali</span>
      </button>

      <button class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
        <img class="rounded-circle" src="https://img.icons8.com/offices/30/000000/person-male.png" />
        <span>Ivan</span>
      </button>

      <button class="card card-small" (click)="selection.value = 'test'" tabindex="0">
        <img class="rounded-circle" src="https://img.icons8.com/offices/30/000000/person-male.png" />
        <span>Meshack</span>
      </button>

      <button class="card card-small" (click)="selection.value = 'build'" tabindex="0">
        <img class="rounded-circle" src="https://img.icons8.com/offices/30/000000/person-male.png" />
        <span>Nur</span>
      </button>
    </div>
  </div>
  <div class="col-md-3">
    <app-contacts></app-contacts>
</div>
</div>
