<div class="row">

  <div class="col-md-3">
    <app-sidebar>

    </app-sidebar>
  </div>

  <div class="col-md-6">
    <h1 class="text-center"><strong>My Chats</strong></h1><hr>
    <p>Send Message</p>
    <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>New Message</span>
    </button>

    <input type="hidden" #selection>

    <div class="card-container">
      
      <div *ngFor="let user of users">

        <button class="card card-small" (click)="selection.value = 'material'" tabindex="0">
          <img class="rounded-circle" src="https://img.icons8.com/offices/30/000000/person-male.png" />
          <span><strong>{{ user.username }}</strong></span>
        </button>

      </div>


    </div>
  </div>
  <div class="col-md-3" style="background-color: #a5becf;">
    <app-contacts></app-contacts>
  </div>
</div>